/*GENERAL STYLES*/
body{
	font-family: Arial,San-serif;
	font-size: 100%;
}
p{
	font-size: 13px;
	line-height: 1.3em;
}
.container{
	margin: 0 auto; /*розміщення по середині сторінки*/
	width: 960px;
}
ul{   /*щоб список не мав дефолтних відступів*/
	margin: 0;
	padding: 0;
}
ul li{
	list-style-type: none; /*забираємо маркований кружечок*/
}
a{
	text-decoration: none; /*забираємо нижнє підкреслення*/
}
/*HEADER*/
.header {
	padding: 50px 0; /*внутрішній відступ:зверху 
					і знизу по 50пікселів, збоків 0*/
	background-color: yellowgreen;
}
.header h1, .header h2{
	color: greenyellow;
	text-align: center;
}
/* NAVIGATION */
.page-navigation{
	background-color: #222;
	border-color: #101010;
	min-height: 64px; /*може буде більше, якщо вмісту буде більше, але мінімальна висота 64пікселі*/
}
.page-navigation li{
	float: left; /*обтікання зліва*/
	width: 100px; /*однакова ширина */
}
.page-navigation a{
	display: block; /*щоб зробити блочні елементи і розмістити на всю ширину li*/
	color: #9d9d9d;
	line-height: 4em; /*висота стрічки*/
	font-weight: bold; /*жирний текст*/
	text-align: center;
}
.page-navigation li a:hover { /*спрацює при наведенні курсора миші*/
	color: yellowgreen;
	background-color: black;
}
/* LOGIN FORM */
.login{
	padding: 15px 0;
	float: right;  /*обтікання справа*/
}
.login input[type="text"],
.login input[type="password"] {
	padding: 5px;
	margin-right: 5px;
	border:1px solid transparent; /*прозора границя*/
	border-radius: 5px; 
	outline: none;  /*забрати голубу обводку форми*/
}
.login input[type="submit"]{
	padding: 5px 15px;
	border:1px solid lightgrey;
	border-radius: 5px;
}
.login input[type="submit"]:hover ,
button:hover{
	background-color: darkgrey;
	color: white;
}
/* MAIN */
.collections{
	overflow: auto;
}
.collection-tittle{
	padding-bottom: 5px;
	border-bottom: 1px solid #777;
	font-size: 36px;
}
.collection-tittle small{
	content: #777;
	font-size: 70%;
}
.collection-item-outer{
	display: inline-block;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	width: 33.33%;
	box-sizing: border-box; /*включає величину границі*/
}
.collections >div:first-child{
	padding-left: 0;
	padding-right: 5px;
}
.collections >div:last-child{
	padding-left: 5px;
	padding-right: 0;
}

.collection-item{
	border:1px solid #959595;
}
.collection-item img,
.collection-item video{
	width: 100%;
}
.collection-text{
	padding: 0 20px 20px 20px;
}
.collection-text h3{
	color: yellowgreen;
	overflow: hidden;
	white-space: nowrap; /*заборона реагувати на пробіли*/
	text-overflow: ellipsis; /*додати три крапки вкінці, якщо не поміщається текст*/
}
.collection-text p{
	max-height: 80px;
	overflow: hidden;/*все, що виходить за межі висоти 80пікселів заховати*/
}
.collection-text button{
	padding: 10px;
	border:1px solid transparent;
	border-radius: 5px;
	outline:none;
}
/* FOOTER */
.footer{
	background-color: yellowgreen;
	color:white;
	padding: 20px 0;
	margin-top: 30px;
}