body{
	font-family: Arial,san-serif;
	font-size: 100%;
	line-height: 1.2;
}

.container{
	margin:0 auto;
	width: 900px;
	padding: 30px 10px;
}
header{
	text-align: center;
}
.center{
text-align: center;
}
main h3, p{
	padding: 0;
	margin:0;
}
h2{
	padding-top: 30px;
}

.price, .button{
	display: inline-block;
	padding: 5px 15px;
	font-size: 200%;
	border-radius: 5px;
}
.price{
	border:1px solid grey;
	margin-top: 30px;
	background-color: lightgrey;
}
.button{
	padding: 7px;
	font-size: 80%;
	font-weight: bold;
	background-color: green;
}
.button:hover{
	background-color: darkgreen;
	color: white;

}
footer{
	border-top: 1px solid grey;
	margin-top: 40px;
}