
.navbar::after{
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
    background-color: #000;
    z-index: -1;
    opacity: .7;

}
 
.hide_search{
	display: none;
}

.row{
	border:1px solid red;
}