*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: Arial san-serif;
	line-height: 1.5;
}
.center{
	display: block;
	text-align: center;
	padding-bottom: 10px;
}
.bold{
	font-weight: bold;
}
.italic{
	font-style: italic;
}
.button{
	background-color: #cf5b4e;
	border-radius: 5px;
	margin-bottom: 25px;
}
.button a{
	display: block;
	color: #fff;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	padding: 10px;
}
.main-wrap{
	width: 760px;
	margin: 0 auto;
	padding: 60px 60px 30px;
	background-color: #d1d1d1;

}
.header{
	background-image: url(../img/header_bg.gif);
	background-size: 100%;
	min-height: 150px;
}
.wrapper{
	padding: 55px 50px 30px 50px;
	background-color: #fff;
}
.appeal p{
	padding-bottom: 10px;
}

.blocks{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.blocks>div{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 385px;
}
.button{
	margin-top: auto;
}
.two_blocks{
	width: 255px;
}
.three_blocks{
	width: 160px;
}
.photo{
	height: 212px;
	background-size: 100%;
}

.two_blocks .one{
	background-image: url(../img/i1.png);
}
.two_blocks .two{
	background-image: url(../img/i2.png);
}
.three_blocks .three{
	background-image: url(../img/i3.png);
}
.three_blocks .four{
	background-image: url(../img/i4.png);
}
.three_blocks .five{
	background-image: url(../img/i5.png);
}
.blocks p{
	padding-top: 15px;
	padding-bottom: 15px;
}
.sign .button{
	margin-top: 60px;
}

.footer{
	padding-top: 50px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.5;
}
.footer a{
	color: #fff;
	line-height: 1.5;

}