.site-nav{
	background-color:PaleVioletRed;
	list-style: none;
	padding: 0;
	width: 200px;
	border:1px solid MediumVioletRed;
}
.site-nav .site-nav-item{
	border-bottom:1px solid MediumVioletRed;
	padding: 5px;
}
.site-nav .site-nav-item:last-child{
	border-bottom: none;
}
.site-nav .site-nav-item a{
	color: white;
	text-decoration: none;
}
.site-nav .site-nav-item a:hover{
	text-decoration: underline;
}
